*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}
input:focus::placeholder{
    color:transparent;
}
body{
    background-color: hsl(189, 41%, 97%);
    font-size: 24px;
    font-family: 'Space Mono', monospace;
    
}
.container{
    /* border: 1px solid grey; */
    background-color: hsl(0, 0%, 100%);
    display: flex;
    max-width: 50rem;
    min-height: 22rem;
    margin: auto;
    border-radius: 0.8rem;
    box-shadow: 0.2rem 0.2rem 2.4rem hsl(185, 41%, 84%);
}
label{
    display: block;
}
input{
    display:block;
}
.title{
    font-size: 0.7rem;
    /* border:1px solid grey; */
    color: hsl(183, 100%, 15%);
    font-weight: 700;
}
.title span{
    display: block;
    font-size: 0.7rem;
    color:hsl(184, 14%, 56%);
}
.input-fields{
    /* border: 1px solid red; */
    display: flex;
    flex: 1.1;
    justify-content: space-around;
    flex-direction: column;
}
.output-disp{
    /* border:1px solid blue; */
    background-color: hsl(183, 100%, 15%);
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin:1rem;
    border-radius: 0.8rem;
}
.tip-amount{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 2rem 1rem 2rem;
}
.total-amount{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 2rem 0 2rem;
}
.disp-amount{
    color: hsl(184, 14%, 56%);
    font-weight: 700;
    font-size: 2rem;
}
.output-disp .title{
    color: hsl(189, 41%, 97%);
    font-weight: 600;
}
.percents-container{
    display:flex;
    /* border:2px solid green; */
    flex-wrap: wrap;
}

.reset{
    /* border:1px solid blue; */
    text-align: center;
    margin: auto 2rem 2rem 2rem;
    text-transform: uppercase;
    background-color: hsl(184, 14%, 56%);
    color:hsl(183, 100%, 15%);
    font-size: 1rem;
    font-weight: 700;
    padding:0.3rem;
    border-radius: 0.3rem;
}
.reset:hover{
    background-color: hsl(185, 41%, 84%);;
}
.logo{
    margin: auto;
    max-width: fit-content;
    height: auto;
    padding: 2rem 0 2rem 0;
}
.price,.people,.tips{
    padding:1rem;
    position:relative;
}

input[name="bill"],input[name="numbers"]{
    width:100%;
    padding:0.7rem;
    background-color: hsl(189, 41%, 97%);
    border-radius:0.3rem;
    border:none;
    text-align: right;
    color:hsl(183, 100%, 15%);
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Space Mono',monospace;
}
input[name="bill"]:hover,input[name="bill"]:focus,input[name="numbers"]:hover,input[name="numbers"]:focus{
    outline: none !important;
    border:1px solid hsl(185, 41%, 84%);
}
/* ::before doesnot work for replaced elements like <input> */
.people label::before{
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    top: 2.8rem;
    left: 1.5rem;
    background: url(/images/icon-person.svg) no-repeat;
}
.price label::before{
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    top: 2.8rem;
    left: 1.5rem;
    background: url(/images/icon-dollar.svg) no-repeat;
}
input[name="tip"]{
    padding:0.4rem;
    flex: 0 0 30%;
    margin:0.3rem 0.2rem;
    border-radius:0.3rem;
    border:none;
    font-family: 'Space Mono',monospace;
    background-color:hsl(183, 100%, 15%); 
    color:hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 1rem;
}
input[name="tip"]:hover{
    background-color:  hsl(185, 41%, 84%);
    cursor: pointer;
    color:hsl(183, 100%, 15%);
}
/* input[name="tip"]:focus{
    background-color: hsl(184, 14%, 56%);
    color:hsl(183, 100%, 15%);
} */
.selectedtip{
    background-color: hsl(186, 14%, 43%) !important;
    color:hsl(183, 100%, 15%) !important;
}
input[placeholder="Custom"]{
    width:1rem;
    background-color:hsl(189, 41%, 97%);
    text-align: right;
    color:hsl(183, 100%, 15%);
}
input[placeholder="Custom"]:hover,input[placeholder="Custom"]:focus{
    background-color: hsl(0, 0%, 100%);
    outline: none !important;
    border:1px solid hsl(185, 41%, 84%);
}
input[placeholder="Custom"]::placeholder{
    text-align: center;
}
@media only screen and (max-width:800px){
    body{
        min-height: 120vh;
    }
    .container{
        flex-direction: column;
        max-width: 25rem;
    }
    input[name='tip']{
        flex: 0 0 47%;
    }
    .reset{
        margin-top:1rem;
    }
}
@media only screen and (max-width:380px){
    .disp-amount{
        font-size: 1.3rem;
    }
}
@media only screen and (max-width:250px){
    input[name='tip']{
        flex:0 0 95%;
    }
    .disp-amount{
        font-size: 1rem;
    }
    .tip-amount{
        flex-direction: column;
    }
    .total-amount{
        flex-direction: column;
    }
}